<nav>
  <div class="site-title">
    <a href="/"><h1>BayerCorp</h1></a>
    <p>Control de Acceso Vehicular al Conjunto Residencial :D</p>
  </div>
  <ul>
    <li><a href="/index">Inicio</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/vehicles">Acceso Vehicular</a></li>
    <li><a href="/report">Reporte</a></li>
  </ul>
</nav>