<html lang="es">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>Sobre BayerCorp</h2>
    <p>Proyecto para evaluar el desempeño, agilidad y conocimiento de la asignatura Base de Datos</p>
    <p>del semestre A-2022 de la ULA - Mérida, Venezuela.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>