<html lang="es">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

<div class="create-blog content">
  <p>Registro de un nuevo acceso vehicular al sistema</p>
  <form>
    <label for="title">Placa:</label>
    <input type="text" id="title" name="title" required>
    <label for="snippet">Hora:</label>
    <input type="text" id="snippet" name="snippet" required>
    <label for="body">Comentario:</label>
    <textarea id="body" name="body" required></textarea>
    <button>Submit</button>
  </form>
</div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>