<html lang="es">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h2>Menú</h2>
  </div>

  <div class="details menu">
    <button><a href="/vehicles/create">Crear Registro</a></button>
    <button><a href="/vehicles/allvehicles">Buscar Vehículo</a></button>
    <button><a href="/index">Actualizar Registro</a></button>
    <button><a href="/index">Eliminar Registro</a></button>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>